* { 
  transition: all 0.2s ease; 
}

.blog {
  height:auto;
  margin-top:40px;
  align-items:center;
  margin-bottom:100px;
}

#postTitle {
  text-align:center;
  font-weight:bold;
}

#postText {
  margin-left:15%;
  margin-right:15%;
}

#subheading {
  font-weight:bold;
  margin-top:20px;
  margin-bottom:10px;
}

#return-back {
  text-align:center;
  margin-top:50px;
}

.my-zoom-on-hover {
  transition: transform .5s; 
  border: none;
}

.my-zoom-on-hover:hover {
  transform: scale(1.05); 
  z-index: 100;
}